
<!--about-->
<div class="flex-col font-sans flex items-center text-white min-h-screen bg-black md:-mt-64 flex-grow">
    <h1 class=" md:text-6xl text-2xl md:pb-7">Meet the team</h1>
 
    <p class="md:text-2xl">Our Passionate Fitness Professionals and Coaches</p>
    <div class="flex flex-row  mt-20 flex-wrap bg-black  text-white">
        <div class="flex flex-col items-center ">
        <img class="lg:mx-12 mx-16 md:w-96 md:h-96 w-64 h-64 rounded-full object-cover md:my-0 my-12" src="../../assets/blonde.png" alt="">
        <p class="text-white md:mt-16 font-semibold text-lg">Owner</p>
        <p class="text-white text-lg">Brian Greer</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="md:mx-12 mx-16 md:w-96 md:h-96 w-64 h-64 rounded-full object-cover md:my-0 my-12" src="../../assets/medium.png" alt="">
        <p class="text-white md:mt-16 font-semibold text-lg">Owner</p>
        <p class="text-white text-lg">Brandon H</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="md:mx-12 mx-16 md:w-96 md:h-96 w-64 h-64 rounded-full object-cover md:my-0 my-12" src="../../assets/old.png" alt="">
        <p class="text-white md:mt-16 font-semibold text-lg">Manager</p>
        <p class="text-white text-lg">Place Holder</p>
    </div>
    <div class="flex flex-col items-center">
        <img class="md:mx-12 mx-16 md:w-96 md:h-96 w-64 h-64 rounded-full object-cover md:my-0 my-12" src="../../assets/scar.png" alt="">
        <p class="text-white md:mt-16 font-semibold text-lg">Personal Trainer</p>
        <p class="text-white text-lg">Place Holder</p>
    </div>

