<div class="flex flex-wrap justify-center  items-center text-white min-h-screen bg-black">
    <div class="flex flex-col text-center w-full">
    <h1 class="text-2xl md:text-6xl pb-7 font-bold">Meet the team</h1>
    <p class="text-xl md:text-2xl">Our Passionate Fitness Professionals and Coaches</p>
</div>
    <div class="flex flex-wrap  justify-center mt-20 bg-black text-white">
        <!-- Team Member 1 -->
        <!-- <div class="flex flex-col items-center p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"> -->

            <div class="flex flex-col items-center  w-full md:w-1/2">
            <img class="w-48 h-96 md:w-52 md:h-96 rounded-md object-cover" src="../../assets/brian.jpg" alt="">
            <p class="font-semibold text-lg mt-4">Owner</p>
            <p class="text-lg">Brian Greer</p>
        </div>
        <!-- Team Member 2 -->
        <!-- <div class="flex flex-col items-center p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"> -->
            <div class="flex flex-col items-center w-full  md:w-1/2">
            <img class="w-48 h-96 md:w-48 md:h-96 rounded-md object-cover" src="../../assets/Brandon.jpg" alt="">
            <p class="font-semibold text-lg mt-4">Owner</p>
            <p class="text-lg">Brandon H</p>
        </div>
        <!-- Team Member 3 
        <div class="flex flex-col items-center p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4">
            <img class=" w-64 h-64 md:w-96 md:h-96 rounded-full object-cover" src="../../assets/old.png" alt="">
            <p class="font-semibold text-lg mt-4">Manager</p>
            <p class="text-lg">Place Holder</p>
        </div
   -->
        <!-- Team Member 4 -->
       <!-- <div class="flex flex-col items-center p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4">
            <img class="w-64 h-64 md:w-96 md:h-96 rounded-full object-cover" src="../../assets/scar.png" alt="">
            <p class="font-semibold text-lg mt-4">Personal Trainer</p>
            <p class="text-lg">Place Holder</p>
        </div>-->
    </div>
</div>
