
<div class="flex flex-col   md:min-h-screen py-16 md:py-0 w-full bg-black">
    <div class="flex flex-col text-center w-full md:my-8 ">
        <h1 class="text-4xl md:text-6xl pb-7 font-bold text-white">Equipment Tailored for Growth</h1>
    </div>
    <div class="flex flex-col text-white xl:mx-64 md:mx-24 sm:mx-16 mx-3 sm:text-lg text-xs md:text-2xl">
        <div class="flex flex-row mt-16">
                <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full " src="../../assets/BeltSquat.jpg" alt="">
    <p class="ml-12 mt-16 md:mt-28 font-bold lg:ml-48 md:ml-12">Rogue Monster Rhino Belt Squat
        <span class="font-light text-xs md:text-lg"><br>Designed for maximum performance and safety, allowing you to squat heavy without the strain on your back and shoulders.</span>
        <br><button (click)="onWatch('beltSquat')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
    </p>
</div>
    <div class="flex flex-row-reverse mt-16">
        <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full" src="../../assets/Biceps.jpg" alt="">
        <p class="mr-12 mt-28 font-bold lg:mr-48 md:mr-12">Weight Sled
            <span class="font-light"><br>You can push and pull your way</span>
        </p>
    </div>
    <div class="flex flex-row mt-16">
        
        <img class="object-cover w-48 h-36 rounded-full md:w-96 md:h-72 " src="../../assets/IMG_9782.jpg" alt="">
<p class="ml-12 mt-8 font-bold lg:ml-48 md:ml-12 md:mt-16">Fettle Fitness Pullover
<span class="font-light text-xs md:text-lg"><br>focusing on your lats and chest, with designed for maximum comfort and effectiveness, enhancing your strength and muscle definition.</span>
<br><button (click)="onWatch('pullover')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
</p>
</div>
<div class="flex flex-row-reverse mt-16">
<img class="object-cover h-64 w-48 md:h-96 md:w-72   rounded-full" src="../../assets/HackSquat.jpg" alt="">
<p class="mr-12  mt-16 md:mt-28 font-bold lg:mr-48 md:mr-12">Fettle Fitness Pendulum Total Leg Press
    <span class="font-light text-xs md:text-lg"><br>Combines ergonomic design and innovative mechanics to deliver a comprehensive lower-body workout, targeting and strengthening muscles with smooth, pendulum motion.</span>
    <br><button (click)="onWatch('pendulumPress')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
</p>
</div>
<div class="flex flex-row mt-16">
    <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full" src="../../assets/HipThrust.jpg" alt="">
<p class="ml-12 mt-12 md:mt-28 font-bold lg:ml-48 md:ml-12">Nautilus Glue Drive Plate Loaded Hip
<span class="font-light text-xs md:text-lg"><br>targeted lower-body training, perfect for enhancing your glute strength with precision and comfort.</span><br>
<button (click)="onWatch('hipThrust')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
</p>
</div>
<div class="flex flex-row-reverse mt-16">
    <img class="object-cover h-48 w-64 rounded-full md:w-96 md:h-72 " src="../../assets/hacksquat2.jpg" alt="">
<p class="mr-12 mt-12 md:mt-16 font-bold lg:mr-48 ">Precor Icarian Plate Loaded Hack Squat
<span class="font-light text-xs md:text-lg"><br>Offers a robust and intuitive design, ensuring a natural squatting motion that targets the quads and glutes, maximizing strength and muscle gains with every rep.</span>
<br><button (click)="onWatch('hackSquat')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
</p>
</div>
<div class="flex flex-row mt-16 ">
    <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full" src="../../assets/chestFlyes.jpg" alt="">
<p class="ml-12 mt-28 font-bold lg:ml-48 md:ml-12">Weight Sled
<span class="font-light text-xs md:text-lg"><br>You can push and pull your way</span>
</p>
</div>
<div class="flex flex-row-reverse mt-16">
    <img class="object-cover h-64 w-48 md:h-96 md:w-72   rounded-full" src="../../assets/supportedRow.jpg" alt="">
    <p class="mr-12 md:mt-28 mt-16 font-bold lg:mr-48 md:mr-12">Atlantis Strength Incline T Bar Row
        <span class="font-light text-xs md:text-lg"><br>offering a targeted and intense back workout that emphasizes the upper and middle back muscles for unparalleled strength gains and muscular development.</span>
        <br><button (click)="onWatch('supportedRow')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>
    </p>
    </div>
    <div class="flex flex-row mt-16">
        <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full" src="../../assets/lateralraises.jpg" alt="">
    <p class="ml-12 md:mt-28  mt-16 font-bold lg:ml-48 md:ml-12">Fettle Fitness Selectorized Standing Lateral Raise
    <span class="font-light text-xs md:text-lg"><br>Specifically designed to sculpt and fortify the deltoids through precise motion, equipped with adjustable settings to cater to various fitness levels and body sizes for superior shoulder development.</span>
    <br><button (click)="onWatch('lateralRaise')" class="mt-4 bg-white rounded-full text-black px-4 py-2 ">Watch Now </button>    
</p>
    </div>
    <div class="flex flex-row-reverse mt-16 mb-16">
        <img class="object-cover h-64 w-48 md:h-96 md:w-72 rounded-full"src="../../assets/chestbrah.jpg" alt="">
    <p class="mr-12 mt-28 font-bold lg:mr-48 md:mr-12">Weight Sled
    <span class="font-light text-xs md:text-lg"><br>You can push and pull your way</span>
    </p>
    </div>


</div>
</div>