<div class="flex md:flex-row flex-col items-center justify-between md:space-x-4 pt-12">
    <img class="md:ml-6 ml-auto mr-auto md:mr-0 w-24 md:mb-10" src="../../assets/Rectangle 20.png" alt="">

    <div class="flex flex-row justify-center md:justify-end items-center md:mb-14 md:ml-0 ml-14 mr-16 z-10 font-sans space-x-4 md:text-2xl mb-2">
        <a class="pl-4 cursor-pointer hover:underline">Home</a>
        <a class="cursor-pointer hover:underline">Equipment</a>
        <a class="cursor-pointer hover:underline">About</a>
        <a class="p-5 bg-black rounded-full text-white cursor-pointer hover:underline">Memberships</a>
    </div>
</div>
