<style>
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .fade-in {
      animation: fadeIn 6s ease-out forwards;
    }
  </style>

<!--home-->
<div class="flex flex-col items-center justify-center md:min-h-screen py-16 md:py-0 w-full bg-black">
    <img class="md:-mt-64 w-full fade-in" src="../../assets/Untitled design (3).svg" alt="">
</div>

<app-about id="about" class=" flex-grow"></app-about>


<div class="min-h-full bg-black text-white py-16">
    <div class="flex flex-wrap justify-center">
        <img class="object-cover rounded-full w-64 h-64 sm:h-42 md:h-96 md:w-96 lg:h-96 lg:w-96 mb-12 md:mb-0" src="../../assets/sled.png" alt="">
        <div class="flex flex-col justify-center items-center w-1/2 sm:pt-16 md:pt-16 lg:pt-0">
        <p>Get familiar with our state of the art equipment</p>
        <button (click)="onEquipment()" class="py-4 w-48 mt-7 font-bold bg-white rounded-full hover:bg-gray-500 hover:text-white  text-black">View Equipment  <span class="ml-3">➤</span></button>
    </div></div>

</div>